In [8]:
# char의 ascii코드 나타내기(10진수)
print(ord("z"))
# char의 ascii코드 나타내기(10진수)
print(hex(ord("z")))

122
0x7a

In [1]:
# hex함수 사용법(16진수로 나타내기)
hex(11)

'0xb'

In [1]:
a = 1686968
b = a

# a와 b 변수의 주소값이 같다. 즉, '얕은 복사'가 일어난 것이다. 이로써, 파이썬의 모든 변수는 '참조자료형'이라는 것이 증명이된다.
print(id(a))
print(id(b))

2145716629904
2145716629904

In [8]:
import pandas as pd

input_file1 = r"C:\Users\my\Desktop\Documents\data_Analysis_with_Python\materials\sales_january_2014.csv"
input_file2 = r"C:\Users\my\Desktop\Documents\data_Analysis_with_Python\materials\sales_fabruary_2014.csv"

data_frame1 = pd.read_csv(input_file1)
data_frame2 = pd.read_csv(input_file2)

allDataFrames = [data_frame1, data_frame2]

print(data_frame1, "\n")
print("data_frame1's columns", data_frame1.columns, "\n")

print(data_frame2, "\n")
print("data_frame2's columns", data_frame2.columns, "\n")

joinedDataFrame = pd.concat(allDataFrames, axis=0)

print(joinedDataFrame, "\n")
print("joinedDataFrame's columns", joinedDataFrame.columns, "\n")

   Customer ID       Customer Name Invoice Number Sale Amount Purchase Date
0         1234          John Smith       100-0002  $1,200.00         1/1/14
1         2345       Mary Harrison       100-0003  $1,425.00         1/6/14
2         3456          Lucy Gomez       100-0004  $1,390.00        1/11/14
3         4567        Rupert Jones       100-0005  $1,257.00        1/18/14
4         5678       Jenny Walters       100-0006  $1,725.00        1/24/14
5         6789  Samantha Donaldson       100-0007  $1,995.00        1/31/14

data_frame1's columns Index(['Customer ID', 'Customer Name', 'Invoice Number', 'Sale Amount',
       'Purchase Date'],
      dtype='object')

   Customer ID   Customer Name Invoice Number Sale Amount Purchase Date
0         9876   Daniel Farber       100-0008  $1,115.00         2/2/14
1         8765     Laney Stone       100-0009  $1,367.00         2/8/14
2         7654    Roger Lipney       100-0010  $2,135.00        2/15/14
3         6543   Thomas Haines       100-0011  $1,346.00        2/17/14
4         5432     Anushka Vaz       100-0012  $1,560.00        2/21/14
5         4321  Harriet Cooper       100-0013  $1,852.00        2/25/14

data_frame2's columns Index(['Customer ID', 'Customer Name', 'Invoice Number', 'Sale Amount',
       'Purchase Date'],
      dtype='object')

   Customer ID       Customer Name Invoice Number Sale Amount Purchase Date
0         1234          John Smith       100-0002  $1,200.00         1/1/14
1         2345       Mary Harrison       100-0003  $1,425.00         1/6/14
2         3456          Lucy Gomez       100-0004  $1,390.00        1/11/14
3         4567        Rupert Jones       100-0005  $1,257.00        1/18/14
4         5678       Jenny Walters       100-0006  $1,725.00        1/24/14
5         6789  Samantha Donaldson       100-0007  $1,995.00        1/31/14
0         9876       Daniel Farber       100-0008  $1,115.00         2/2/14
1         8765         Laney Stone       100-0009  $1,367.00         2/8/14
2         7654        Roger Lipney       100-0010  $2,135.00        2/15/14
3         6543       Thomas Haines       100-0011  $1,346.00        2/17/14
4         5432         Anushka Vaz       100-0012  $1,560.00        2/21/14
5         4321      Harriet Cooper       100-0013  $1,852.00        2/25/14

joinedDataFrame's columns Index(['Customer ID', 'Customer Name', 'Invoice Number', 'Sale Amount',
       'Purchase Date'],
      dtype='object')

In [1]:
a = 123456
b = a

# 두 변수의 id가 같기 때문에, 파이썬은 모든 것이 다 '참조자료형'이라는 것을 알 수 있다. '참조자료형'은 '얕은복사'를 실시한다.
print(id(a))
print(id(b), "\n")

a = 45678

print(a)
print(b, "\n")

print(id(a))
print(id(b))

2251382678064
2251382678064

45678
123456

2251382677936
2251382678064

In [22]:
import pandas as pd

input_file = r"C:\Users\my\Desktop\Documents\data_Analysis_with_Python\materials\supplier_data.csv"
output_file = r"C:\Users\my\Desktop\pandasTest.csv"

inputDataFrame = pd.read_csv(input_file)
print(inputDataFrame, "\n", "\n", "columns is", inputDataFrame.columns, "\n", "index is", inputDataFrame.index, "\n")

materialDataFrame = inputDataFrame.loc[:3, :]
print(materialDataFrame, "\n")

resultDataFrameColunmns = materialDataFrame.columns
resultDataFrameBody = materialDataFrame

resultDataFrame = pd.DataFrame(columns = resultDataFrameColunmns)
resultDataFrame = pd.concat([resultDataFrame, resultDataFrameBody], axis = 0)
print(resultDataFrame)

   Supplier Name Invoice Number  Part Number            Cost Purchase Date
0     Supplier X       001-1001         2341        $500.00      1/20/2014
1     Supplier X       001-1001         2341        $500.00      1/20/2014
2     Supplier X       001-1001         5467        $750.00      1/20/2014
3     Supplier X       001-1001         5467        $750.00      1/20/2014
4     Sypplier Y        50-9501         7009        $250.00      1/30/2014
5     Sypplier Y        50-9501         7009        $250.00      1/30/2014
6     Sypplier Y        50-9505         6650        $125.00       2/3/2014
7     Sypplier Y        50-9505         6650        $125.00       2/3/2014
8     Supplier Z       920-4803         3321        $615.00       2/3/2014
9     Supplier Z       920-4804         3321        $615.00      2/10/2014
10    Supplier Z       920-4805         3321      $6,015.00      2/17/2014
11    Supplier Z       920-4806         3321  $1,006,015.00      2/24/2014

 columns is Index(['Supplier Name', 'Invoice Number', 'Part Number', 'Cost',
       'Purchase Date'],
      dtype='object')
 index is RangeIndex(start=0, stop=12, step=1)

  Supplier Name Invoice Number  Part Number      Cost Purchase Date
0    Supplier X       001-1001         2341  $500.00      1/20/2014
1    Supplier X       001-1001         2341  $500.00      1/20/2014
2    Supplier X       001-1001         5467  $750.00      1/20/2014
3    Supplier X       001-1001         5467  $750.00      1/20/2014

  Supplier Name Invoice Number Part Number      Cost Purchase Date
0    Supplier X       001-1001        2341  $500.00      1/20/2014
1    Supplier X       001-1001        2341  $500.00      1/20/2014
2    Supplier X       001-1001        5467  $750.00      1/20/2014
3    Supplier X       001-1001        5467  $750.00      1/20/2014

In [ ]:
#queue 자료구조 구현

class Node: 
    
    def __init__(self, item, n): # Node 생성자
        
        self.item = item
        self.next = n
        
def add(item): # 삽입 연산, 뒷 부분에 삽입한다.
    
    global size
    global front
    global rear
    
    new_node = Node(item, None)
    
    if size == 0:
        
        front = new_node
        
    else:
        
        rear.next = new_node
        
    rear = new_node
    size += 1      
    
def remove(): # 삭제 연산, 맨 앞에 있는 것을 삭제한다.
    
    global size
    global front
    global rear
    
    if size != 0:
        fitem = front.item
        front = front.next
        size -= 1
        if size == 0: 
            rear = None 
        return fitem 
    
def print_q(): # 큐 출력
    
    p = front
    print('front: ', end='')
    while p:
        if p.next != None:
            print(p.item, '->   ', end='')
        else:
            print(p.item, end = '')
        p = p.next
    print('  : rear') 

    
front = None
rear = None
size = 0

add('apple')       
add('orange')        
add('cherry')   
add('pear')         
print('사과, 오렌지, 체리, 배 삽입 후: \t', end='')

print_q()         
remove()
print('remove한 후:\t\t', end='')
print_q()

remove()
print('remove한 후:\t\t', end='')
print_q()

add('grape')
print('포도 삽입 후:\t\t', end='')
print_q()

In [3]:
a = "32131312"
print(id(a))
a = "마바사"
print(id(a))

1593308867120
1593308820656

In [4]:
class Node:
    
    def __init__(self, item = None):
        
        self.item = item
        self.link = None
        
firstNode = Node()

In [3]:
class Person:
    
    # 클래스 변수
    foot = 2
    
    # 생성자 함수
    def __init__(self):
        
        # 인스턴스 변수
        self.hand = 2
        self.nose = 1
        
    
        
choi = Person()
print("choi's id :",id(choi))
print("choi hand's id :", id(choi.hand))
print("choi nose;s id :", id(choi.nose))
print("choi foot's id :", id(choi.foot))
print("\n")
kim  = Person()
print("Kim's id:", id(kim))
print("Kim hand's id:", id(kim.hand))
print("Kim nose's id:", id(kim.nose))
print("Kim foot's id:", id(kim.foot))

choi's id : 1782214324576
choi hand's id : 140715150717808
choi nose;s id : 140715150717776
choi foot's id : 140715150717808


Kim's id: 1782214295448
Kim hand's id: 140715150717808
Kim nose's id: 140715150717776
Kim foot's id: 140715150717808

In [4]:
def change(a):
    
    print("parameter id :", id(a))
    
    a = 3232323
    
    return a

x = 123456
print("x's id :", id(x))


c = change(x)
print("c's id:", id(c))

x's id : 3204251800592
parameter id : 3204251800592
c's id: 3204251800016

In [11]:
# 딕셔러니 생성하는 방법

a = {}
a["a"] = "b", "c"
print(a)
# print(type(a["a"]))

a["b"] = ["d", "f"]
print(a)

{'a': ('b', 'c')}
{'a': ('b', 'c'), 'b': ['d', 'f']}

In [1]:
for i in range(3, 0, -1):
    
    print(i)

3
2
1

In [2]:
a = []

if a :
    
    print("good")
    
else :
    
    print("empty")

empty

In [3]:
a = "가"
newList = []
newList.append(a)
print(id(a))
print(id(newList[0]))
b = newList[0]
print(id(b))

2207214073696
2207214073696
2207214073696

In [1]:
graph1 = {'A': {'B', 'C'},
         'B': {'A', 'D', 'E'},
         'C': {'A', 'F'},
         'D': {'B'},
         'E': {'B', 'F'},
         'F': {'C', 'E'}}

In [3]:
list(graph1.keys())

['A', 'B', 'C', 'D', 'E', 'F']

In [6]:
list1 = [4,1,3,6,5]
list1.sort()
print(list1)

[1, 3, 4, 5, 6]

In [20]:
# 파이썬의 함수는 객체이다. 그러므로 해당 함수가 특정 변수에 담길 수 있다.
def just():
    
    print("gogo")
     
a = just
a()

gogo

In [2]:
#파이썬은 '함수호출'을 return값으로 받을 수 있다.

def plus():
    
    return 1+2

def call_plus_function():
    
    print("it's gonna call plus_function")
    return plus()

call_plus_function()

it's gonna call plus_function

3

In [31]:
# 같은 선상에서 선언된 함수들은 서로 변수를 공유할 수 없다. 

def second():
        
        print(a)
        
def first():
    
    a = "hi"
    
#     def second():
        
#         print(a)
        
    second()
        
first()

NameError: name 'a' is not defined